<% unless current_user.present? %>
    <div class="d-flex flex-row m-5">
        <%= image_tag(
            "logo.png",
            width: "25%",
            height: "25%",
            class: "img-fluid",
            )
        %>
        <div class="m-3">
            <h1>ORGA²</h1>
            <p>
                Team Management <br />
                <small>v24.01</small>
            </p>
        </div>
    </div>
<% end %>
