<% unless current_user.present? %>
  <div class="card-not-logged">
    <img src="assets/logo.png" 
        width="60%" border="0"
        alt="">
    <div>
      <h1>Orga²</h1>
      <p>
        Team Management <br />
        <small>v24.01</small>
      </p>
    </div>
  </div>
<% end %>