<div class="w3-card-4 card-not-logged">
  <%= image_tag('logo.png') %>
  <div>
    <h1 class="card-not-logged-title">Orga²</h1>
    <p class="card-not-logged-title">
      Team Management <br />
      <small>v24.01</small>
    </p>
  </div>
</div>