<% if current_user.present? %>
    <div class="header-not-logged d-flex flex-row m-4 p-3 rounded-3 shadow">
        <%= image_tag(
            "logo.png",
            width: "25%",
            height: "25%",
            class: "img-fluid",
            )
        %>
        <div class="m-3">
            <h1>ORGA²</h1>
            <p>
                Team Management <br />
                <small>v24.01</small>
            </p>
            <p>Welcome <%= current_user.firstname %></p>
        </div>
    </div>

    <%= render "main/dashboard/dashboard" %>
    
<% end %>