<% if current_user.present? %>
    <div class="welcome-subtitle">
        <p>Welcome <%= current_user.firstname %></p>
        <p><%= getDateFrenchFormated(Time.now) %></p>
    </div>
    <%= render "main/dashboard/dashboard" %>
<% end %>