<% if current_user.present? %>
    <div class="welcome-subtitle">
        <div>Welcome <%= current_user.firstname %></div>
        <div class="not-mobile"><%= getDateFrenchFormated(Time.now) %></div>
    </div>
    <%= render "main/dashboard/dashboard" %>
<% end %>