
<!-- MOBILE VIEW -->
<div class="mobile container">
    <%= render partial: "main/dashboard/my_weeks/my_weeks_mobile" %>
</div>

<!-- NON MOBILE VIEW -->
<div class="not-mobile">
    <%= render partial: "main/dashboard/my_weeks/my_weeks_non_mobile" %>
</div>