<div class="card">
    <div class="card-body">
        <h3>Absences</h3>
        <div class="d-flex flex-row-reverse">LEGENDE</div>
    </div>
    <div class="card-image-bottom">
        
    </div>
</div>