<div class="w3-container">
    <h1 class="">My Dashboard</h1>

    <%= render partial: "main/dashboard/heatmap"  %>
    
    <%= render partial: "main/dashboard/my_week" %> 
    
    <%= render "main/dashboard/absences" %>
    
</div>