<div class="w3-container">
    <h1 class="not-mobile">My Dashboard</h1>

    <%= render partial: "main/dashboard/heatmap"  %>
    
    <%= render partial: "main/dashboard/my_weeks/my_weeks" %> 
    
    <%= render "main/dashboard/absences" %>
    
</div>