<div>
    <h1 class="m-4 p-3">Dashboard</h1>

    <div class="m-4 p-3 shadow heatmap rounded-2">
        <%= render partial: "main/dashboard/heatmap"  %>
    </div>

    <div class="m-4 p-3 shadow heatmap rounded-2">
        <%= render partial: "main/dashboard/my_week" %> 
    </div>

    <div class="m-4 p-3 shadow heatmap rounded-2">
        <%= render "main/dashboard/absences" %>
    </div>
</div>