<div>
    <h1 class="">My Dashboard</h1>

    <div class="heatmap">
        <%= render partial: "main/dashboard/heatmap"  %>
    </div>

    <div class="">
        <%= render partial: "main/dashboard/my_week" %> 
    </div>

    <div class="">
        <%= render "main/dashboard/absences" %>
    </div>
</div>