

<%# YEAR %>
<div class="d-flex flex-row justify-content-center mb-5">
    <% indexSemaineAnnee = 0 %>
    <% dateJour = @firstDayOfCalendar %>

    <% 12.times do |indexMonth| %>
        <% indexMonth += 1 %>

        <%# MONTH %>
        <% nomMois = (dateJour + 15.days).strftime("%b") %>
        <% nombreSemainesDansMois = (dateJour.end_of_month.strftime("%W").to_i) - (dateJour.beginning_of_month.strftime("%W").to_i) %>

        <div class="d-flex flex-column me-1">
            <div><%= nomMois %></div>

            <div class="d-flex flex-row">

                <% nombreSemainesDansMois.times do |indexSemaine| %>
                    <% indexSemaine += 1 %>
                    <% indexSemaineAnnee += 1 %>

                    <%# WEEK %>
                    <div class="d-flex flex-column align-items-start">
                        <div class="text-secondary">
                            <% indexSemaineAnnee %>
                        </div>
                        <% 7.times do |indexJour| %>
                            <% indexJour += 1 %>

                            <%# DAY %>
                            <% if dateJour.saturday? || dateJour.sunday? %>
                                <% bgColor = "lightgrey" %>
                            <% else %>
                                <% dateJourFormated = dateJour.strftime("%Y-%m-%d") %>
                                <% if @data[dateJourFormated] %>
                                    <% bgColor = getHeatMapColor(@data[dateJourFormated]) %>
                                <% else %>
                                    <% bgColor = "white" %>
                                <% end %>
                            <% end %>
                            <div 
                                class="align-content-center 
                                    border
                                    heatmap-cell-width"
                                style="background-color: <%= bgColor %>"        
                                >
                                <%= dateJour.day %>
                            </div>

                            <% dateJour = dateJour + 1.day %>
                        <% end %>
                    </div>
                <% end %>
            </div>
        </div>
    <% end %>
</div>