<%= render partial: "layouts/header", 
    locals: { 
        title: "Resources", 
        icon: "speaker_group"
    }
%>
<div class="w3-container w3-margin">
    <h3>Edit</h3>
    <%= render partial: "form" %>
</div>