<h1 class="w3-container">
    <i class="w3-xxlarge material-icons">speaker_group</i>
    Resources
</h1>
<div class="w3-container w3-margin">
    <h2 class="w3-center w3-tag  w3-round-large w3-light-blue">
        <%= @groupe.name.titleize if @groupe.present? %>
    </h2>
    <table class="w3-table w3-card-4" >
        <%= render @resources %>
    </table>
</div>