/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  background: url("assets/background_blue_pink.svg");
  background-size:cover;
  color: rgb(65, 65, 65);
 }


 small {
  font-size: small;
 }

  .card-not-logged {
    background-color: rgba(250, 235, 215, 0.301);
    color: rgb(65, 65, 65);
    width: 300px;
    margin: auto;
    margin-top: 100px;
    padding: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  .card-not-logged img {
    padding-right: 50px;
  }

  .heatmap {
    background-color: rgba(250, 235, 215, 0.5);
    color: rgb(65, 65, 65);
  }

 .dashboard-header {
  display: flexbox;
  #flex-direction:row;
  align-items: flex-start;
  align-content: flex-start;
 }

 .jumbotron {
   #background: url("assets/logo2.png") no-repeat;
   #background-size: cover;
   #background-color: antiquewhite;
   #color: grey;
 }


 .heatmap-cell-width {
  text-align: center;
  font-size: xx-small;
 }

 @media screen and (max-width: 576px) {
    .heatmap-cell-width {
        width: 7px; height: 7px;  /* MOBILE   */
    }
    .card-not-logged {
      width: 200px;
      padding: 25px 50px;
      margin: 50px;
      margin-top: 100px;
    }
    .card-not-logged img {
      width: 100px;
      padding-right: 20px;
    }
 }

 @media screen and (min-width: 576px) {
  .heatmap-cell-width {
      width: 10px; height: 10px;  /* MOBILE   */
  }
}

 @media screen and (min-width: 768px) {
  .heatmap-cell-width {
      width: 14px; height: 14px;  /* MOBILE   */
  }
}

 @media screen and (min-width: 992px) {
  .heatmap-cell-width {
      width: 18px; height: 18px;  /* TABLETTE   */
  }
 }
  @media screen and (min-width: 1200px) {
    .heatmap-cell-width {
        width: 22px; height: 22px;  /* TABLETTE   */
    }
}

@media screen and (min-width: 1400px) {
  .heatmap-cell-width {
      width: 26px; height: 26px;  /* TABLETTE   */
  }
}


.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  color: white;
}

