/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: white;
 }

 body, html {
  background: url("assets/background_blue_pink.svg");
  background-size:cover;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
 }

 a:hover {
  transform: scale(1.1);
 }

 .welcome-subtitle{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 16px;
 }

 .navbar {
  vertical-align: middle;
  align-items: center;
  align-content: center;
 }
 .navbar-item {
  vertical-align: middle;
  align-items: center;
  align-content: center;
  margin-top: 16px;
 }

 
 main {
  flex: 1;
 }

 .footer-copyright {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  text-wrap: wrap;
  font-size: 11px;
 }


 small {
  font-size: 11px;
 }

.card-not-logged {
  background-color: rgba(250, 235, 215, 0.137);
  color: rgb(65, 65, 65);
  margin: auto;
  margin-top: 100px;
  padding: 24px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width:70%;
  max-width:400px; 
}

.card-not-logged-title {
  margin: 0;
  margin-left: 16px;
  margin-bottom: 8px;
  padding: 0;
}

.card-not-logged img {
  width: 45%;
  height: 45%;
}


.heatmap {
  color: #414141;
  margin: auto;
  display: flex; 
  flex-direction: row;  
  justify-content: center; 
}

.heatmap-month {
  display: flex; 
  flex-direction: column;
}

.heatmap-week-number {
  height: 16px; 
  margin-bottom: 4px;
  font-size: 11px;
}

.heatmap-weeks {
  background-color: rgba(250, 235, 215, 0.5);
  display: flex; 
  flex-direction: column; 
  justify-content: flex-start;
}

.heatmap-day {
  align-content: center;
  border: grey 0.5px solid;
}

.heatmap-cell-width {
  text-align: center;
  font-size: xx-small;
}

.heatmap-cell-currentday {
  border-width: 2px;
  border-color: purple;
  font-weight: bold;
}

.heatmap-progressbar {
  margin: auto;
  margin-left: 48px;
  margin-right: 48px;
  margin-top: 24px;
  margin-bottom: 0;
}



.dashboard-header {
  display: flexbox;
  align-items: flex-start;
  align-content: flex-start;
}

.my-absences {
  display: flex;
}

.my-dashboard {}


@media screen and (max-width: 576px) {
  .heatmap { display: none; }
  .heatmap-progressbar { display: none;}
  .my-absences { display: none; }
  .my-dashboard { display: none; }
  .card-not-logged p { font-size: 11px;}
  .navbar-item-text { display: none; margin: 0; padding: 0;}
  .not-mobile { display: none; }
  .mobile { margin: 0; padding: 0; }
  .navbar-title { font-size: 16px; font-weight: bold;}
}

@media screen and (min-width: 576px) {
  .heatmap-cell-width {
    width: 10px; height: 10px;  /* MOBILE   */
  }
  .mobile { display: none;}
}

@media screen and (min-width: 768px) {
  .heatmap-cell-width {
    width: 14px; height: 14px;  /* MOBILE   */
  }
}

@media screen and (min-width: 992px) {
  .heatmap-cell-width {
    width: 18px; height: 18px;  /* TABLETTE   */
  }
}
@media screen and (min-width: 1200px) {
  .heatmap-cell-width {
      width: 22px; height: 22px;  /* TABLETTE   */
  }
}

@media screen and (min-width: 1400px) {
  .heatmap-cell-width {
      width: 26px; height: 26px;  /* TABLETTE   */
  }
}

