/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
  margin: 0;
 }

 footer {
  background-color: rgb(40, 40, 40);
  color: white;
  text-align: center;
  font-size: small;
 }

 small {
  font-size: x-small;
 }

 

 .dashboard-header {
  display: flexbox;
  flex-direction: row;
  align-items: flex-start;
  align-content: flex-start;
 }

 .jumbotron {
   background: url("assets/logo2.png") no-repeat;
   background-size: cover;
   background-color: antiquewhite;
   color: grey;
 }


 .heatmap-cell-width {
  text-align: center;
  font-size: xx-small;
 }

 @media screen and (max-width: 576px) {
    .heatmap-cell-width {
        width: 7px; height: 7px;  /* MOBILE   */
    }
 }

 @media screen and (min-width: 576px) {
  .heatmap-cell-width {
      width: 10px; height: 10px;  /* MOBILE   */
  }
}

 @media screen and (min-width: 768px) {
  .heatmap-cell-width {
      width: 14px; height: 14px;  /* MOBILE   */
  }
}

 @media screen and (min-width: 992px) {
  .heatmap-cell-width {
      width: 18px; height: 18px;  /* TABLETTE   */
  }
 }
  @media screen and (min-width: 1200px) {
    .heatmap-cell-width {
        width: 22px; height: 22px;  /* TABLETTE   */
    }
}

@media screen and (min-width: 1400px) {
  .heatmap-cell-width {
      width: 26px; height: 26px;  /* TABLETTE   */
  }
}

