<footer class="mdl-mini-footer">
  <div class="mdl-mini-footer__left-section">
    <div class="mdl-logo">
        <img width="32" src="assets/logo.png" alt="Orga" />
        Orga²
    </div>
    <p>©2023 - PETScan ULB Erasme, Cyclotron Biomedical</p>
  </div>
  <div class="mdl-mini-footer__right-section">
    <button class="mdl-mini-footer__social-btn"><img width="32" src="assets/erasme.png" alt="Erasme" /></button>
    <button class="mdl-mini-footer__social-btn"><img width="32" src="assets/bordet.png" alt="Bordet" /></button>
    <button class="mdl-mini-footer__social-btn"><img width="32" src="assets/uz-brussel.png" alt="UZ Brussel" /></button>
  </div>
</footer> 