<header>
    <%= render "layouts/navbar" %>
</header>

<main class="mdl-layout__content">
    <%= render partial: "layouts/flashes" %>
    <%= yield %>
</main>

<footer>
    <%= render "layouts/footer" %></div>
</footer>