<div class="w3-bar">

  <% if current_user.present? %>
    <a href="#" class="w3-bar-item w3-button">Home</a>
    <a href="#" class="w3-bar-item w3-button">Calendar</a>
    <a href="#" class="w3-bar-item w3-button">Calendar</a>
    <a href="#" class="w3-bar-item w3-button">My Dashboard</a>

    <%= button_to "Log Out", session_path, method: :delete,
      class: "w3-bar-item w3-button w3-light-purple w3-right w3-margin w3-padding-small"
    %>
  <% else %>
    <%= link_to "Login", new_session_path, 
    class: "w3-bar-item w3-button w3-pink w3-right w3-margin w3-padding-small"
  %>
  <% end %>  
</div>